<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jinesh">
    <meta name="keyword" content="Quest">

    <title>{% block head_title %}{% endblock %}</title>
    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/vendor/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.min.css' %}"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Quest</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
      </ol>
      <!-- Icon Cards-->
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    </div>
    <!-- /.container-fluid-->
  </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/vendor/jquery.min.js' %}" ></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}" ></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/vendor/jquery.easing.min.js' %}" ></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'js/vendor/Chart.min.js' %}" ></script>
    <script src="{% static 'js/vendor/jquery.dataTables.js' %}" ></script>
    <script src="{% static 'js/vendor/dataTables.bootstrap4.js' %}" ></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/vendor/sb-admin.min.js' %}" ></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/vendor/sb-admin-datatables.min.js' %}" ></script>
    <!--<script src="{% static 'js/vendor/sb-admin-charts.min.js' %}" ></script>-->
</body>
</html>