{% extends "base.html" %}

{% block content %}
  <div class="row">

    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-user"></i>
          </div>
          <div class="mr-5">{{ users_count }} Users!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left"></span>
          <span class="float-right">

          </span>
        </a>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-comments"></i>
          </div>
          <div class="mr-5">{{ questions_count }} Questions!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left"></span>
          <span class="float-right">

          </span>
        </a>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5">{{ answers_count }} Answers!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left"></span>
          <span class="float-right">

          </span>
        </a>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-support"></i>
          </div>
          <div class="mr-5">{{ tenants_count }} Tenants!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left"></span>
          <span class="float-right">

          </span>
        </a>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="card col-xl-6 col-sm-6">
        <div class="card-header">
          API Usage
        </div>
        <div class="card-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                    <th>Tenant</th>
                    <th>Requests Count</th>
              </thead>
              <tbody>
                {% for tenant in tenants %}
                <tr role="row">
                  <td>{{ tenant.name }}</td>
                  <td>{{ tenant.requests_count }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
